{
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 2,
	"semi": true,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"printWidth": 140,
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"printWidth": 200
			}
		}
	],
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"proseWrap": "preserve",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": ["^@angular/core(.*)$", "^@angular/(.*)$", "^@core/(.*)$", "^@shared/(.*)$", "^@server/(.*)$", "^@app/(.*)$", "^[./]"],
	"importOrderParserPlugins": ["typescript", "classProperties", "decorators-legacy"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
